// _header.scss
header {
    background: $primary-background;

    .navbar {
        padding: 1rem 0;

        .navbar-brand {
            img {
                max-height: 50px;
            }
        }

        .d-flex {
            flex-grow: 1;
            max-width: 600px;

            .form-control {
                width: 100%;
            }

            .btn-outline-success {
                color: #0014ee;
                border-color: #0014ee;

                &:hover {
                    background-color: #0014ee;
                    color: #fff;
                }
            }
        }

        .navbar-nav {
            .nav-link {
                color: #494949;

                &:hover {
                    color: $navbarsecondary-color;
                }
            }
        }
    }
}

.header-line {
    height: 5px;
    background-color: #0014ee;
}