// _header.scss
header {
    background: $primary-background;

    .navbar {
        padding: 1rem 0;

        .navbar-brand {
            img {
                max-height: 50px;
            }
        }

        .navbar-nav {
            .nav-link {
                color: #fff;

                &:hover {
                    color: $secondary-color;
                }
            }
        }
    }
}