// _searchbar.scss
.search-form {
    position: relative;
    width: 100%;

    .search-field {
        width: calc(100% - 50px); // Adjust as needed for padding
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 0;
        color: #333;
        background-color: #fff;
    }

    .search-submit {
        position: absolute;
        right: 0;
        top: 0;
        width: 40px;
        height: 100%;
        border: none;
        background: transparent;
        cursor: pointer;

        &:before {
            content: url('<?php echo get_template_directory_uri(); ?>/images/search-line-icon.png');
            display: block;
            width: 20px;
            height: 20px;
            margin: auto;
        }
    }

    .search-field::placeholder {
        color: #ccc;
    }
}